<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <a href="/"> Главная </a>
    <a href="/logout">Выйти</a>
    <a href="/addpost">Добавить пост</a>
    <a href="update/{{user.id}}">Редактировать профиль</a>

    <h1>Твой профиль</h1>

    {% if request.user.is_authenticated %}
    <h1>{{ user.last_name }} {{ user.first_name }}</h1><h1>{{ user.email }}</h1>
     {% for u in users %}
                {% if user.id == u.user_id %}
                    {% if u.image %}
                        <div><a href="{% url 'profile_update_ava' u.pk %}"> <img src="{{ u.image.url }}" alt="" width="50px" height="50px"></a></div>
                    {% else %}
                        <div><a href="{% url 'profile_update_ava' u.pk %}"> <img src="/media/def.jpg" alt="" width="50px" height="50px"></a></div>
                    {% endif %}
                {% endif %}
    {% endfor %}

    <h1>Твой посты</h1>
    {% for post in posts %}

        {% if user.id == post.user_id %}
        <div style="background:#c2c05d; border: 1px solid #2260e6;">
             <p><a href="updatepost/{{post.id}}">Редактировать пост</a>
                 <a href="delete/{{post.id}}">Удалить пост</a></p>
             <h1>{{ post.title }}</h1>

            {% if post.image %}<div><img src="{{ post.image.url }}" alt="" width="100px" height="100px"></div>{% endif %}
             <p>{{ post.text }}</p>
                <details>
                    <summary>Комментарии</summary>
                    {% for comment in comments%}
                        {% if comment.post_id_id == post.id%}

                             <div style="padding: 5px 0 5px 20px; background:#fdc073; border: 1px solid #d622e6;">
                                 {{ comment.user }}<a href="delete/comment/{{comment.id}}">Удалить комментарий</a></div>
                            <div style="padding: 10px 40px 10px 50px; background:#fdc073; border: 1px solid #21DB56;">
                                {{ comment.text }}</div>
                        {% endif %}
                    {% endfor %}
                </details>
            {% endif %}
        </div>

    {% endfor %}

    {% endif %}

</body>
</html>






