<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"> Главная </a>
    <a href="http://127.0.0.1:8000/logout">Выйти</a>

    <h1>Твой профиль</h1>

    {% if request.user.is_authenticated %}
    <h1>{{ user.username }}</h1><h1>{{ user.last_name }}</h1><h1>{{ user.email }}</h1>
     {% for u in users %}
                {% if user.id == u.user_id %}
                    {% if u.image %}<div><img src="{{ u.image.url }}" alt="" width="50px" height="50px">Меня зовут аватарка</div>{% endif %}
                {% endif %}
    {% endfor %}

    <h1>Твой посты</h1>
    {% for post in posts %}

        {% if user.id == post.user_id %}
        <div style="background:#c2c05d; border: 1px solid #2260e6;">
             <h1>{{ post.title }}</h1>
            {% if post.image %}<div><img src="{{ post.image.url }}" alt="" width="100px" height="100px"></div>{% endif %}
             <p>{{ post.text }}</p>

                <details>
                    <summary>Комментарии</summary>
                    {% for comment in comments%}
                        {% if comment.post_id_id == post.id%}
                                <p>{{ comment.post_id_id }}</p>
                             <div style="padding: 5px 0 5px 20px; background:#fdc073; border: 1px solid #d622e6;"> {{ comment.user }}</div>

                            <div style="padding: 10px 40px 10px 50px; background:#fdc073; border: 1px solid #21DB56;"> {{ comment.text }}</div>
                        {% endif %}
                    {% endfor %}
                </details>
            {% endif %}
        </div>

    {% endfor %}

    {% endif %}

</body>
</html>






